<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Loja de Apps{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
        <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .main-template {
            width: 688px;
            margin: auto auto;
            font-family: "Open Sans";
            background-color: #fff;
        }
        .main-content {
            color: #37474f;
            padding: 32px;
        }
        .nav {
            display: flex;
            align-items: center;
            background-color: #0d47a1;
            height: 56px;
        }
            .nav img {
                width: 28px;
                height: 28px;
                margin-left:16px;
                margin-right:8px;
                margin-top:14px;
            }
            .nav p {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-top: 16px;
            }
        .navbar-brand {
            font-size: 24px;
            font-weight: 600;
            margin: 0 10px !important;
        }
        .header {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: left;
            padding-top: 32px;
            width: 100%;
            padding-bottom: 64px;

        }
        .header .title {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 29px;

        }
        .header .subtitle {
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
        }
        .basic-info {
            width: 100%;
        }
        .basic-info .title {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 0.9rem;
            padding-bottom: 10px;
        }
        .basic-info .content-info {
             padding: 10px 0;
        }
        .basic-info .content-info .info {
            font-size: 0.75rem;
            font-weight: 700;
            margin: 0;
        }
        .basic-info .content-info .content {
            font-size: 0.9rem;
            font-weight: 400;
            margin-top: 4px;
            margin-bottom: 0;
        }
        .line {
            color: #eceff1;
            background-color: #eceff1;
            width: 100%;
            height: 1px;
            margin: 30px 0 40px 0;
        }
        </style>
    </head>
    <body>
    <div class="main-template">
        <div class='nav'>
            <img src='https://cdn.eduzzcdn.com/space/upload/72/89/728989a356d44c7caeb3bca99d02a1ee' />
            <p>Loja de apps</p>
        </div>
        <div class="main-content">
        <div class="header">
            <p class="title">
                Parabéns, {{obj.partner.name}}!
            </p>
            <p class="subtitle">
                Tudo certo no cadastro do seu aplicativo na Loja de Apps. 
                Nosso Time de Moderação já foi notificado e em breve você receberá informações sobre a análise e status da sua aplicação.
            </p>
        </div>
        <div class="basic-info">
            <p class="title">
                Informações do seu cadastro
            </p>
            <div class='content-info'>
                <p class='info'>Nome do parceiro</p>
                <p class='content'>{{obj.partner.name}}</p>
            </div>
            <div class='content-info'>
                <p class='info'>E-mail</p>
                <p class='content'>{{obj.partner.email}}</p>
            </div>
            <div class='content-info'>
                <p class='info'>Telefone</p>
                <p class='content'>{{obj.partner.phone}}</p>
            </div>
            <div class='content-info'>
                <p class='info'>Nome da empresa</p>
                <p class='content'>{{obj.partner.companyName}}</p>
            </div>
        </div>
        <div class="line">
        </div>
        <div class="basic-info">
            <p class="title">
                Informações do seu app
            </p>
            <div class='content-info'>
                <p class='info'>Nome do app</p>
                <p class='content'>{{obj.app.name}}</p>
            </div>
            <div class='content-info'>
                <p class='info'>Url da landing page do seu app</p>
                <p class='content'>{{obj.app.url}}</p>
            </div>
            <div class='content-info'>
                <p class='info'>Descrição resumida do app</p>
                <p class='content'>{{obj.app.description}}</p>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>