<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
   'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml' style='box-sizing: border-box; margin: 0;'>
    <head>
         <meta content='width=device-width, initial-scale=1' name='viewport' />
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title></title>
        <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap' rel='stylesheet'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
        <style type='text/css'>
        body {
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            color: #37474f;
        }
        p {
            margin: 0;
        }
        @media (max-width: 550px)
        {
            body div:nth-child(1)
                {
                    width: 90%;
                }

            .basic-info .app-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .app-content .app-info {
               margin-top: 10px;
            }
            .basic-info .title {
                text-align: center;
            }
            .basic-info .comment-content {
                grid-template-columns: 1fr;
                grid-template-rows: 58px 1fr;  
            }
            .basic-info .app-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .app-content .app-info {
               margin-top: 10px;
            }
           .basic-info .title {
               text-align: center;
            }   
            .comment-content .round-icon {
                margin: 0 auto;
            }
        }
        </style>
    </head>
    <body itemscope itemtype='http://schema.org/EmailMessage' style='margin: 0; padding: 0; box-sizing: border-box;'>
    <article class='main-template' style='width: 688px; margin: auto auto; background-color: #fff;'>
        <div style='background-color: #0d47a1; height: 56px; display: flex; justify-content: flex-start; align-items: center;'>
            <p style='color: #fff; margin: 12px 22px; font-size: 24px; font-weight: 600;'>Loja de Apps</p>
        </div>
        <div class='main-content' style='color: #37474f; padding: 32px;'>
            <div class='header' style='padding-top: 32px; width: 100%; padding-bottom: 64px;'>
                <p class='title' style='font-weight: 600; font-size: 1.5rem; line-height: 29px;'>
                     Olá!
                </p>
                <p class='subtitle' style='font-weight: 400; font-size: 1rem; line-height: 24px; color: #546E7A; padding-top: 10px;'>
                    O responsável pelo aplicativo <span style='color: #0d47a1; font-weight: 600;'>{{obj.app.name}}</span> respondeu um comentário. Abaixo você pode conferir o conteúdo da mensagem.
                </p>
            </div>
         <div class='basic-info' style='width: 100%;'>
            <p class='title' style='font-weight: 700; text-transform: uppercase; font-size: 0.9rem; padding-bottom: 10px; margin: 0;'>
                Aplicativo
            </p>
            <div class='app-content' style='margin-top: 29px; width: 100%; display: inline-block;'>
                <img src={{obj.app.icon}} alt={{obj.app.name}} width='40' height='40' style='max-width:40px !important; float: left; border-radius: 4px; margin-right: 8px; object-fit: cover;' />
                <div class='app-info' style='float: left; padding-top: 10px;'>
                    <span class='app-name' style='font-weight: 600; font-size: 1rem; margin: 0;'>
                        {{obj.app.name}} 
                    </span>
                    <span class='app-partner' style='font-weight: 400; font-size: 0.9rem; margin: 0;'>
                     / {{obj.app.partnerName}}
                    </span>
                </div>
            </div>
        </div>
        <div class='line' style='color: #eceff1; background-color: #eceff1; width: 100%; height: 1px; margin: 30px 0 40px 0;'>
        </div>
        <div class='basic-info' style='width: 100%;'>
            <p class='title' style='font-weight: 700; text-transform: uppercase; font-size: 0.9rem; padding-bottom: 10px; margin: 0;'>
                Comentário
            </p>
            <div class='comment-content' style='margin-top: 29px; display: inline-block; width: 100%;'>
                <div class='round-icon' style='position: relative; float: left; width: 58px; height: 58px; border-radius: 50%;  background-color: #0d47a1; margin-right: 16px;' >
                    <p id='user-letter' style='display: block; margin-left: 15px; margin-top: 22px !important; color: #fff; font-size: 1.5rem; font-weight: 600; text-transform: uppercase;'>
                        {% if obj.comment.author %}
                                    {{obj.comment.author.firstLetter}}
                                {% endif %}
                                {% if obj.comment.author == null %}
                                    U
                                {% endif %}
                    </p>
                </div>
                <div class='comment-info' style='float: left; margin-top: 8px; width: calc(100% - 74px);' >
                    <div class='comment-header' style='display: inline-block; width: 100%;' >
                        <div class='author' style='display: inline-block; width: 100%;'>
                            <p style='font-weight: 600; font-size: 1rem; line-height: 24px; margin: 0;' >
                                {% if obj.comment.author %}
                                    {{obj.comment.author.name}}
                                {% endif %}
                                {% if obj.comment.author == null %}
                                    Usuário
                                {% endif %}
                            </p>
                        </div>
                        <div class='rating' style='display: inline-block; margin-top: 4px; width: 100%;'>
                              <div id='stars' style='float: left; width: 70px;' >
                                {% for star in obj.comment.stars %}
                                {% if star %}
                                    <span style='margin: 0; margin-bottom: 3px; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400; color: #78909c; font-size: 15px; margin-left: -2px;'>&#9733</span>
                                {% else %}
                                    <span style='margin: 0; margin-bottom: 3px; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400; color: #78909c; font-size: 15px; margin-left: -2px;'>&#9734</span>
                                {% endif %}
                                {% endfor %}
                              </div>
                              <span class="fulldate" style='padding-left: 5px; padding-top: 4px; float: left; width: calc(100%-70px); margin: 0; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400;' >
                                {{obj.comment.fullDate}}
                              </span>
                        </div>
                    </div>
                    <div style='width: 100%; display: inline-block;'>
                    <p class='comment-title' style='width: 100%; display: inline-block; margin-top: 12px; margin-bottom: 0; font-size: 0.9rem; font-weight: 600; line-height: 21px;' >{{obj.comment.title}}</p>
                    <p class='comment-description' style='width: 100%; display: inline-block; font-weight: 400; margin-top: 8px; line-height: 21px; font-size: 0.9rem; overflow: hidden;' >{{obj.comment.description}}</p>
                    {% for reply in obj.comment.reply %}
                        {% if reply.isPartner %}
                            <div class='comment-reply' style='width: 100%; display: inline-block; background-color: #eceff1; border-radius: 4px; padding: 17px 18px; position: relative; margin-top: 25px;' >
                                    <span class='triangle-up' style='width: 0; height: 10px; position: absolute; top: -25px; left: 10px; border-left: 25px solid transparent; border-right: 25px solid transparent; border-bottom: 25px solid #eceff1;' ></span>
                                    <div class='reply-title' style='width: 100%; display: inline-block; margin: 0;' >
                                        <span style='float: left; color: #546e7a; font-size: 1rem; font-weight: 600; line-height: 24px; margin-right: 8px;' >
                                        {% if reply.author %}
                                            {{reply.author.name}}
                                        {% else %}
                                            Parceiro
                                        {% endif %}
                                        </span>
                                        <span id='output-date-eduzz' style='margin-top: 5px; float:left; color: #546e7a; font-size: 0.7rem; font-weight: 400; line-height: 15px;'>
                                        {{reply.fullDate}}
                                        </span>
                                    </div>
                                    <p class='reply-reply' style='margin: 0; margin-top: 8px; color: #546e7a; font-size: 0.9rem; font-weight: 400; line-height: 21px;' >{{reply.description}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>