<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
   'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml' style='box-sizing: border-box; margin: 0;'>
    <head>
         <meta content='width=device-width, initial-scale=1' name='viewport' />
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title></title>
        <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap' rel='stylesheet'>
        <style type='text/css'>
            body {
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            }
            .nav {
                display: flex;
                background-color: #0d47a1;
                height: 56px;
            }
            .nav img {
                width: 28px;
                height: 28px;
                margin-left:16px;
                margin-right:8px;
                margin-top:14px;
            }
            .nav p {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-top: 16px;
            }
            .content a {
                text-decoration: none !important;
                color: #37474f !important;
            }
            .info, .content, .title {
                color: #37474f !important;
            }
            @media (max-width: 550px)
            {
                body div:nth-child(1)
                    {
                        width: 90%;
                    }
            }
        </style>
    </head>
    <body itemscope itemtype='http://schema.org/EmailMessage' style='margin: 0; padding: 0; box-sizing: border-box;'>
    <div class='main-template' style='width: 688px; margin: auto auto; background-color: #fff;'>
            <div class='nav'>
                <img src='https://cdn.eduzzcdn.com/space/upload/72/89/728989a356d44c7caeb3bca99d02a1ee' />
                <p>Loja de apps</p>
            </div>
        <div class='main-content' style='color: #37474f; padding: 32px;'>
            <div class='header' style='width: 100%; padding-bottom: 64px;'>
                <p class='title' style='font-weight: 600; font-size: 1.5rem; line-height: 29px;'>
                    Parabéns, <span>{{obj.partner.name}}!</span>
                </p>
                <p class='subtitle' style='font-weight: 400; font-size: 1rem; line-height: 24px; color: #546E7A; padding-top: 10px;'>
                    Tudo certo no cadastro do seu plugin na Loja de Apps. 
                    Nosso Time de Moderação já foi notificado e em breve você receberá informações sobre a análise e status do seu plugin.
                </p>
            </div>
            <div class='basic-info' style='width: 100%;'>
                <p class='title' style='font-weight: 700; text-transform: uppercase; font-size: 0.9rem; padding-bottom: 10px;'>
                    Informações do seu cadastro
                </p>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Nome do parceiro</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.partner.name}}</p>
                </div>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>E-mail</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.partner.email}}</p>
                </div>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Telefone</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.partner.phone}}</p>
                </div>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Nome da empresa</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.partner.companyName}}</p>
                </div>
            </div>
            <div class='line' style='color: #eceff1; background-color: #eceff1; width: 100%; height: 1px; margin: 30px 0 40px 0;'>
            </div>
            <div class='basic-info' style='width: 100%;'>
                <p class='title' style='font-weight: 700; text-transform: uppercase; font-size: 0.9rem; padding-bottom: 10px;'>
                    Informações do seu plugin
                </p>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Nome do plugin</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.plugin.name}}</p>
                </div>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Url da landing page do seu plugin</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.plugin.url}}</p>
                </div>
                <div class='content-info' style='padding: 10px 0;'>
                    <p class='info' style='font-size: 0.75rem; font-weight: 700; margin: 0;'>Descrição resumida do plugin</p>
                    <p class='content' style=' font-size: 0.9rem; font-weight: 400; margin-top: 4px; margin-bottom: 0;'>{{obj.plugin.description}}</p>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

