<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title></title>
        <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap' rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
        <meta content='width=device-width, initial-scale=1' name='viewport' />
        <style>
            body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                color: #37474f !important;
            }
            p {
                margin: 0;
            }
            .main-template {
                width: 688px;
                margin: auto auto;
                background-color: #fff;
            }
            .main-content {
                padding: 32px;
            }
            .nav {
                display: flex;
                align-items: center;
                background-color: #0d47a1;
                height: 56px;
            }
            .nav img {
                width: 28px;
                height: 28px;
                margin-left:16px;
                margin-right:8px;
                margin-top:14px;
            }
            .nav p {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-top: 16px;
            }
            .header {
                padding-top: 32px;
                width: 100%;
                padding-bottom: 64px;
            }
            .header .title {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 29px;
                margin-bottom: 24px;
                color: #37474f !important;
            }
            .header .subtitle {
                font-weight: 400;
                font-size: 1rem;
                line-height: 24px;
                color: #546E7A;
            }
            .titleHeader a {
                text-decoration: none !important;
                color: #37474f !important;
                cursor: text !important;
            }
            .basic-info {
                width: 100%;
            }
            .basic-info .title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.9rem;
                padding-bottom: 10px;
                margin: 0;
                color: #37474f !important;
            }
            .basic-info .app-content {
                display: inline-block;
            }
            .app-content {
                margin-top: 29px;
                width: 100%;
                position: relative;
            }
            .app-content .app-info {
                float: left; 
                padding-top: 9px;
            }
            .app-content .img img, .app-content .img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                margin-right: 8px;
                object-fit: cover;
                max-width:40px !important; 
                float: left;
            }
            .app-info .app-name {
                font-weight: 600;
                font-size: 1rem;
                margin: 0;
                color: #37474f !important;
            }
            .app-info .app-partner {
                font-weight: 400;
                font-size: 0.9rem;
                margin: 0;
                color: #546E7A !important;
            }
            .basic-info .app-content .button {
                max-width: 250px;
                float: right;
                border: 1px solid #9eb5d9;
                transition: all 0.3s ease-in-out;
                padding: 9px 16px;
                background-color: #fff;
                border-radius: 4px;
            }
            .basic-info .app-content .button a, .basic-info .app-content .button  {
                text-transform: none;
                color: #0d47a1;
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 21px;
                transition: all 0.3s ease-in-out;
                text-decoration: none !important;
            }
            .basic-info .app-content .button:hover {
                background-color: #0d47a1;
                border: 1px solid #0d47a1;
                cursor: pointer !important;
            }
            .basic-info .app-content .button:hover a, .basic-info .app-content .button:hover {
                color: #fff;
            }

            @media (max-width: 550px) {
                .main-template
                    {
                        width: 90%;
                    }
                .basic-info .app-content {
                    text-align: center;
                }
                .app-content .img {
                    display: block;
                    margin: 0 auto;
                    float: none;
                }
                .app-content .app-info {
                    display: block;
                    width: 100%;
                    margin: 10px 0 30px;
                }
                .basic-info .title {
                    text-align: center;
                }
                .basic-info .app-content .button {
                    display: block;
                    float: none;
                    margin: 0 auto;
                }
            }
        </style>
    </head>
    <body>
        <div class='main-template'>
            <div class='nav'>
                <img src='https://cdn.eduzzcdn.com/space/upload/72/89/728989a356d44c7caeb3bca99d02a1ee'>
                <p>Loja de apps</p>
            </div>
            <div class='main-content'>
            <div class='header'>
                <p class='title'>
                    Parabéns, <span class='titleHeader' style='text-decoration: none !important; color: #37474f !important;'>{{obj.partnerName}}<span>!
                </p>
                <p class='subtitle'>
                   Seu plugin acaba de ser publicado na Loja de Apps. 
                </p>
            </div>
            <div class='basic-info'>
                <p class='title'>
                    Plugin
                </p>
                <div class='app-content'>
                    <div class='img' >
                        <img src='{{obj.icon}}'/>
                    </div>
                    <div class='app-info'>
                        <span class='app-name'>
                            {{obj.name}} 
                        </span>
                        <span class='app-partner'>
                        / {{obj.companyName}}
                        </span>
                    </div>
                    <div class='button'>
                        <a href=\'{{obj.spaceUrl}}/plugin/{{obj.slug}}\' target='_blank'>
                            Seu plugin na loja
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>