<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title></title>
        <link href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap' rel='stylesheet'>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
        <meta content='width=device-width, initial-scale=1' name='viewport' />
        <style>
            body {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: 'Open Sans', Helvetica, Arial, sans-serif;
                color: #37474f !important;
            }
            p {
                margin: 0;
            }
            .main-template {
                width: 688px;
                margin: auto auto;
                background-color: #fff;
            }
            .main-content {
                padding: 32px;
            }
            .nav {
                display: flex;
                align-items: center;
                background-color: #0d47a1;
                height: 56px;
            }
            .nav img {
                width: 28px;
                height: 28px;
                margin-left:16px;
                margin-right:8px;
                margin-top:14px;
            }
            .nav p {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-top: 16px;
            }
            .header {
                padding-top: 32px;
                width: 100%;
                padding-bottom: 64px;
            }
            .header .title {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 29px;
                margin-bottom: 24px;
                color: #37474f !important;
            }
            .header .subtitle {
                font-weight: 400;
                font-size: 1rem;
                line-height: 24px;
                color: #546E7A;
            }
            .titleHeader a {
                text-decoration: none !important;
                color: #37474f !important;
                cursor: text !important;
            }
            .line {
                color: #eceff1;
                background-color: #eceff1;
                width: 100%;
                height: 1px;
                margin: 30px 0 40px 0;
            }
            .basic-info {
                width: 100%;
            }
            .basic-info .title {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 0.9rem;
                padding-bottom: 10px;
                margin: 0;
                color: #37474f !important;
            }
            .basic-info .app-content {
            display: inline-block;
            }
            .basic-info .comment-content {
                display: inline-block;
                width: 100%;
                margin-top: 29px;
            }
            .app-content {
                margin-top: 29px;
                width: 100%;
            }
            .app-content .app-info {
                float: left; 
                padding-top: 9px;
            }
            .app-content .img img,  .app-content .img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                margin-right: 8px;
                object-fit: cover;
                max-width:40px !important; 
                float: left;
            }
            .app-info .app-name {
                font-weight: 600;
                font-size: 1rem;
                margin: 0;
                color: #37474f !important;
            }
            .app-info .app-partner {
                font-weight: 400;
                font-size: 0.9rem;
                margin: 0;
                color: #546E7A !important;
            }
            .comment-content .round-icon {
                width: 58px;
                height: 58px;
                border-radius: 50%; 
                background-color: #0d47a1;
                position: relative; 
                float: left;
                margin-right: 16px;
            }
            .round-icon p {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 600;
                text-transform: uppercase;
                display: block; 
                text-align: center !important;
                margin-top: 12px !important;
            }
            .comment-info {
            float: left; margin-top: 8px; width: calc(100% - 74px);
            }
            .comment-info .comment-header {
            display: inline-block; 
            width: 100%;
            }
            .comment-header .author {
                display: inline-block; width: 100%;
                text-decoration: none !important;
            }
            .comment-header .author a {
                text-decoration: none !important;
                color: #37474f !important;
            }
            .comment-header .author p {
                font-weight: 600;
                font-size: 1rem;
                line-height: 24px;
                margin: 0;
            }
            .comment-header .rating {
                display: inline-block; margin-top: 4px; width: 100%;
            }
            .comment-header .rating .stars {
                float: left; 
                width: 70px;  
                margin-top: 1px;      
            }
            .comment-header .rating .stars span {
                margin: 0; margin-bottom: 3px; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400; color: #78909c; font-size: 15px; margin-left: -2px;
            }
            .comment-header .rating .fullDate {
                margin: 0;
                color: #546e7a;
                font-size: 0.7rem;
                line-height: 15px;
                font-weight: 400;
                padding-left: 5px;
            }
            .comment-title {
                margin-top: 12px;
                margin-bottom: 0;
                font-size: 0.9rem;
                font-weight: 600;
                line-height: 21px;
                width: 100%; 
                display: inline-block;
                padding: 0 !important;
                color: #37474f !important;
            }
            .comment-description {
                font-weight: 400;
                margin-top: 8px;
                line-height: 21px;
                font-size: 0.9rem;
                overflow: hidden;
                width: 100%; 
                display: inline-block;
                padding: 0 !important;
                color: #546E7A !important;
            }
            .comment-info .comment-reply {
                background-color: #eceff1;
                border-radius: 4px;
                padding: 17px 18px;
                width: 100%; 
                display: inline-block;
            }
            .comment-reply .reply-title {
                margin: 0;
                width: 100%; 
                display: inline-block;
            }

            .comment-info .button {
                max-width: 250px;
                margin-top: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #9eb5d9;
                transition: all 0.3s ease-in-out;
                padding: 9px 16px;
                background-color: #fff;
                border-radius: 4px;
            }
            .comment-info .button a, .comment-info .button span, .comment-info .button {
                text-transform: none;
                color: #0d47a1;
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 21px;
                transition: all 0.3s ease-in-out;
                text-decoration: none !important;
            }
            .comment-info .button a, .comment-info .button span {
                margin: 0 auto;
            }
            .comment-info .button:hover {
                background-color: #0d47a1;
                border: 1px solid #0d47a1;
                cursor: pointer !important;
            }
            .comment-info .button:hover a, .comment-info .button:hover span, .comment-info .button:hover {
                color: #fff;
            }

            .reply-title .person {
                color: #546e7a;
                font-size: 1rem !important;
                font-weight: 600;
                line-height: 24px;
                margin-right: 8px;
                float: left;
                color: #546E7A !important;
            }
            .reply-title .fullDate {
                color: #546e7a;
                font-size: 0.7rem;
                font-weight: 400;
                line-height: 15px;
                float: left;
                margin-top: 5px;
                color: #546E7A !important;
            }
            .reply-reply {
                margin: 0;
                margin-top: 8px;
                color: #546e7a;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 21px;
            }
            .triangle-up {
                display: block;
                width: 0 !important;
                height: 10px !important;
                margin-left: 10px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #eceff1;
            }
            @media (max-width: 550px) {
                .main-template
                    {
                        width: 90%;
                    }
                .basic-info .app-content {
                    text-align: center;
                }
                .app-content .img {
                     display: block;
                    margin: 0 auto;
                    float: none;
                }
                .app-content .app-info {
                display: block;
                width: 100%;
                margin-top: 10px;
                }
                .basic-info .title {
                    text-align: center;
                }
                .basic-info .comment-info {
                    display: block;
                    width: 100%;
                    margin-top: 20px;
                }
                .comment-content .round-icon {
                    display: block;
                    margin-left: 39%;
                }
                            .comment-header .author, .comment-header .rating .stars, .comment-header .rating .fullDate {
                display: block; 
                text-align: center;
                width: 100%;
            }
            .comment-header .rating .fullDate {
                padding-top: 30px;
            }
            .comment-title {
                margin-top: 20px;
            }
            }
        </style>
    </head>
    <body>
        <div class='main-template'>
            <div class='nav'>
                <img src='https://cdn.eduzzcdn.com/space/upload/72/89/728989a356d44c7caeb3bca99d02a1ee'>
                <p>Loja de apps</p>
            </div>
            <div class='main-content'>
            <div class='header'>
                <p class='title'>
                    Olá, <span class='titleHeader' style='text-decoration: none !important; color: #37474f !important;'>{{obj.comment.author.name}}<span>!
                </p>
                <p class='subtitle'>
                    Infelizmente o seu comentário foi reprovado pelo nosso Time de Moderação. Isso acontece quando identificamos palavras ou termos que ferem nossas <span style='color: #0d47a1; font-weight: 600;'>políticas e termos de uso.</span>
                </p>
                <br>
                <p class='subtitle'>
                    Escreva um novo comentário sem termos ofensivos, obscenos, links ou outras práticas desrespeitosas e temos certeza que dará tudo certo.
                </p>
            </div>
            <div class='basic-info'>
                <p class='title'>
                    Plugin
                </p>
                <div class='app-content'>
                <div class='img' >
                    <img src='{{obj.plugin.icon}}' />
                </div>
                    <div class='app-info'>
                        <span class='app-name'>
                            {{obj.plugin.name}} 
                        </span>
                        <span class='app-partner'>
                        / {{obj.plugin.partnerName}}
                        </span>
                    </div>
                </div>
            </div>
            <div class='line'>
            </div>
            <div class='basic-info'>
                <p class='title'>
                    Seu Comentário
                </p>
                <div class='comment-content'>
                    <div class='round-icon'>
                        <p id='user-letter'>
                        {% if obj.comment.author %}
                                        {{obj.comment.author.firstLetter}}
                                    {% endif %}
                                    {% if obj.comment.author == null %}
                                        U
                                    {% endif %}
                        </p>
                    </div>
                    <div class='comment-info'>
                        <div class='comment-header'>
                            <div class='author'>
                                <p>
                                    {% if obj.comment.author %}
                                        {{obj.comment.author.name}}
                                    {% endif %}
                                    {% if obj.comment.author == null %}
                                        Usuário
                                    {% endif %}
                                </p>
                            </div>
                            <div class='rating'>
                                <div class='stars'>
                                    {% for i in 1..obj.comment.review|round %}
                                        <span style='margin: 0; margin-bottom: 3px; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400; color: #78909c; font-size: 15px; margin-left: -2px;'>&#9733;</span>
                                    {% endfor %}
                                    {% set value = 5 - obj.comment.review|round %}
                                    {% if value != 0 %}
                                    {% for i in 1..value %}
                                        <span style='margin: 0; margin-bottom: 3px; color: #546e7a; font-size: 0.7rem; line-height: 15px; font-weight: 400; color: #78909c; font-size: 15px; margin-left: -2px;'>&#9734;</span>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <span class='fullDate'>
                                    {{obj.comment.fullDate}}
                                </span>
                            </div>
                        </div>
                            <p class='comment-title'>{{obj.comment.title}}</p>
                            <p class='comment-description'>{{obj.comment.description}}</p>
                            {% for reply in obj.comment.reply %}
                                {% if reply.isPartner == false %}
                                    <span class='triangle-up'></span>
                                    <div class='comment-reply'>
                                            <div class='reply-title'>
                                                <span class='person'>
                                                {% if reply.author %}
                                                    {{reply.author.name}}
                                                {% else %}
                                                    Eduzz
                                                {% endif %}
                                                </span>
                                                <span class='fullDate'>
                                                {{reply.fullDate}}
                                                </span>
                                            </div>
                                            <p class='reply-reply'>{{reply.description}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class='button'>
                                <a href='{{obj.spaceUrl}}/policy-and-information' target='_blank'>
                                <span style='font-size: 16px; margin-right: 4px;'>&#8505;</span>
                                    Leia a política e informações
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>